Résultat Sauter les résultats Iframe
html{
    scroll-behavior: smooth;
}

.cover{
    background:no-repeat, linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("https://images.unsplash.com/photo-1506784693919-ef06d93c28d2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80") no-repeat;
    background-size: cover;
    min-height: 100vh;
}
.cover-content{
    min-height: 100vh;
}
.cover-content img{

    max-width: 200px;
    border:2px solid white;
}

.about{
    background-color: #ececec;
}

@media screen and (max-width: 760px) {
    .cover-content h1{
        font-size: 36px;
        font-weight: bold;
        padding-top: 30px;
    }

    .cover-content h6{
        font-size: 15px;
    }
}



* {
  outline: none;
}

body, html {
  margin: 0;
  background: #eee;
  font-family: "Ubuntu", "微軟正黑體", sans-serif;
  letter-spacing: 0.65px;
  font-size: 15px;
  color: #555;
  cursor: default;
}

a {
  text-decoration: none;
  color: #555;
  display: block;
  transition-duration: 0.3s;
}

ul {
  list-style-type: none;
  padding: 0;
}

h3 {
  color: #3d405b;
  margin: 10px 0;
  text-transform: uppercase;
  font-size: 18px;
}

.resume {
  width: 870px;
  background: #f7db9bab;
  margin: 20px auto;
  border: 1px solid #fff;
  box-shadow: 0 0 3px 2px #8e8686;
  position: relative;
  display: flex;
}
.resume::before {
  content: "";
  width: 100%;
  height: 6px;
  /*background: #cca944;*/
  position: absolute;
  bottom: 0;
  left: 0;
}
.resume::after {
  content: "";
  display: block;
  clear: both;
}
.resume .base, .resume .func {
  box-sizing: border-box;
  float: left;
}
.resume .base > div, .resume .func > div {
  padding-bottom: 10px;
}
.resume .base > div:last-of-type, .resume .func > div:last-of-type {
  padding-bottom: 0;
}
.resume .base {
  width: 225px;
  padding: 30px 15px;
  background: rgba(238, 238, 238, 0.6);
}
.resume .base .profile {
  background: #cca944;
  padding: 30px 15px 5px 15px;
  margin: -30px -15px 45px -15px;
  position: relative;
  z-index: 2;
}
.resume .base .profile::after {
  content: "";
  position: absolute;
  background: #cca944;
  width: 100%;
  height: 30px;
  bottom: -15px;
  left: 0;
  transform: skewY(-5deg);
  z-index: -1;
}
.resume .base .profile .photo img {
  width: 100%;
  border-radius: 50%;
}
.resume .base .profile .info {
  text-align: center;
  color: #fcfcfc;
}
.resume .base .profile .info .name {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 1.5em;
  font-weight: normal;
}
.resume .base .contact div {
  line-height: 24px;
}
.resume .base .contact div a:hover {
  color: #e07a5f;
}
.resume .base .contact div a:hover span::after {
  width: 100%;
}
.resume .base .contact div:hover i {
  color: #e07a5f;
}
.resume .base .contact div i {
  color: #8d9e78;
  width: 20px;
  height: 20px;
  font-size: 20px;
  text-align: center;
  margin-right: 15px;
  transition-duration: 0.3s;
}
.resume .base .contact div span {
  position: relative;
}
.resume .base .contact div span::after {
  content: "";
  position: absolute;
  background: #e07a5f;
  height: 1px;
  width: 0;
  bottom: 0;
  left: 0;
  transition-duration: 0.3s;
}
.resume .base .follow .box {
  text-align: center;
  vertical-align: middle;
}
.resume .base .follow .box a {
  display: inline-block;
  vertical-align: text-bottom;
}
.resume .base .follow .box a:hover i {
  background: #e07a5f;
  border-radius: 5px;
  transform: rotate(45deg) scale(0.8);
}
.resume .base .follow .box a:hover i::before {
  transform: rotate(-45deg) scale(1.5);
}
.resume .base .follow .box i {
  display: inline-block;
  font-size: 30px;
  background: #cca944;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  line-height: 60px;
  color: #fcfcfc;
  margin: 0 10px 10px 10px;
  transition-duration: 0.3s;
}
.resume .base .follow .box i::before {
  transition-duration: 0.3s;
}
.resume .base .follow .box i.fa::before {
  display: block;
}
.resume .func {
  width: 645px;
  padding: 30px 25px;
}
.resume .func:hover > div {
  transition-duration: 0.3s;
}
.resume .func:hover > div:hover h3 {
  letter-spacing: 1.6px;
}
.resume .func:hover > div:hover h3 i {
  transform: scale(1.2);
}
.resume .func:hover > div:not(:hover) {
  opacity: 0.5;
}
.resume .func h3 {
  transition-duration: 0.3s;
  margin-top: 0;
}
.resume .func h3 i {
  color: #fcfcfc;
  background: #8d9e78;
  width: 42px;
  height: 42px;
  font-size: 20px;
  line-height: 42px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  margin-right: 8px;
  transition-duration: 0.3s;
}
.resume .func .work, .resume .func .edu {
  float: left;
}
.resume .func .work small, .resume .func .edu small {
  display: block;
  opacity: 0.7;
}
.resume .func .work ul li, .resume .func .edu ul li {
  position: relative;
  margin-left: 15px;
  padding-left: 25px;
  padding-bottom: 15px;
}
.resume .func .work ul li:hover::before, .resume .func .edu ul li:hover::before {
  animation: circle 1.2s infinite;
}
.resume .func .work ul li:hover span, .resume .func .edu ul li:hover span {
  color: #e07a5f;
}
@keyframes circle {
  from {
    box-shadow: 0 0 0 0px #3d405b;
  }
  to {
    box-shadow: 0 0 0 6px rgba(61, 64, 91, 0);
  }
}
.resume .func .work ul li:first-of-type::before, .resume .func .edu ul li:first-of-type::before {
  width: 10px;
  height: 10px;
  left: -2px;
}
.resume .func .work ul li:last-of-type, .resume .func .edu ul li:last-of-type {
  padding-bottom: 3px;
}
.resume .func .work ul li:last-of-type::after, .resume .func .edu ul li:last-of-type::after {
  border-radius: 1.5px;
}
.resume .func .work ul li::before, .resume .func .work ul li::after, .resume .func .edu ul li::before, .resume .func .edu ul li::after {
  content: "";
  display: block;
  position: absolute;
}
.resume .func .work ul li::before, .resume .func .edu ul li::before {
  width: 7px;
  height: 7px;
  border: 3px solid #3d405b;
  background: #fcfcfc;
  border-radius: 50%;
  left: 0;
  z-index: 1;
}
.resume .func .work ul li::after, .resume .func .edu ul li::after {
  width: 3px;
  height: 100%;
  background: #3d405b;
  left: 5px;
  top: 0;
}
.resume .func .work ul li span, .resume .func .edu ul li span {
  transition-duration: 0.3s;
}
.resume .func .work {
  width: 42%;
}
.resume .func .edu {
  width: 58%;
}
.resume .func .skills-prog {
  clear: both;
}
.resume .func .skills-prog ul {
  margin-left: 15px;
}
.resume .func .skills-prog ul li {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  transition-duration: 0.3s;
}
.resume .func .skills-prog ul li:hover {
  color: #e07a5f;
}
.resume .func .skills-prog ul li:hover .skills-bar .bar {
  background: #e07a5f;
  box-shadow: 0 0 0 1px #e07a5f;
}
.resume .func .skills-prog ul li span {
  display: block;
  width: 120px;
}
.resume .func .skills-prog ul li .skills-bar {
  background: #cdcdcd;
  height: 2px;
  width: calc(100% - 120px);
  position: relative;
  border-radius: 2px;
}
.resume .func .skills-prog ul li .skills-bar .bar {
  position: absolute;
  top: -1px;
  height: 4px;
  background: #8d9e78;
  box-shadow: 0 0 0 #8d9e78;
  border-radius: 5px;
}
.resume .func .skills-soft ul {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.resume .func .skills-soft ul li {
  position: relative;
}
.resume .func .skills-soft ul li:hover svg .cbar {
  stroke: #cca944;  stroke-width: 4px;
}
.resume .func .skills-soft ul li:hover span, .resume .func .skills-soft ul li:hover small {
  transform: scale(1.2);
}
.resume .func .skills-soft ul li svg {
  width: 95%;
  fill: transparent;
  transform: rotate(-90deg);
}
.resume .func .skills-soft ul li svg circle {
  stroke-width: 1px;
  stroke: #3d405a;
}
.resume .func .skills-soft ul li svg .cbar {
  stroke-width: 3px;
  stroke: /*#8d9e78;*/
  
}

.resume .func .skills-soft ul li span, .resume .func .skills-soft ul li small {
  position: absolute;
  display: block;
  width: 100%;
  top: 52%;
  transition-duration: 0.3s;
}
.resume .func .skills-soft ul li span {
  top: 40%;
}
.resume .func .interests-items {
  box-sizing: border-box;
  padding: 15px;
  width: 100%;
  border: 1px solid #cdcdcd;
  text-align: center;
  display: flex;
  justify-content: space-between;
}
.resume .func .interests-items div {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.resume .func .interests-items div:hover i {
  transform: scale(1.2);
}
.resume .func .interests-items div:hover span {
  color: #e07a5f;
  transition-duration: 0.3s;
}
.resume .func .interests-items div i {
  font-size: 45px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  color: #8d9e78;
  transition-duration: 0.3s;
}
.resume .func .interests-items div i.guitar {
  display: block;
  margin: 0 auto;
}
.resume .func .interests-items div i.guitar svg {
  width: 50px;
  height: 50px;
  margin-top: 5px;
  fill: #8d9e78;
}
.resume .func .interests-items div span {
  display: block;
}

html{
    font-size: 62.5%;               /* 1rem = 10px */
}

p,a{
    font-size:1.4rem;               /* 14px */
}
.post
{
    color: #000;
}
    .post hr
    {
        width: 66%;
        height: 0.313em; /* 5px */
        border: none;
        background-color: currentColor;
        opacity: .2;
    }

/*! Simple Hint v2.1 | Copyright (c) 2014 Catalin Covic | https://github.com/catc */
[data-hint]:after, [data-hint]:before {
  display: inline-block;
  pointer-events: none;
  position: absolute;
  visibility: hidden; }
[data-hint]:hover:after, [data-hint]:hover:before {
  visibility: visible; }
[data-hint]:before {
  content: "";
  border: 5px solid transparent;
  z-index: 9998; }
[data-hint]:after {

  /* DjF Personnalisation de la police */
  font-family:Helvetica Neue,Helvetica,Arial,sans-serif; 

  content: attr(data-hint);
  text-align: center;
  padding: 3px 7px;
  border-radius: 2px;
  z-index: 9999;
  color: white;
  font-weight: 400;
  white-space: nowrap;
  font-size: 1.2rem;
  line-height: 2em;
  background: #292929; }

[class*="hint-bottom"]:before, [class*="hint-top"]:before {
  right: 50%;
  margin-right: -5px; }
[class*="hint-bottom"]:after, [class*="hint-top"]:after {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }

[class*="hint-bottom"]:before {
  border-bottom-color: #292929;
  top: 100%; }
[class*="hint-bottom"]:after {
  margin-top: 10px;
  top: 100%; }

[class*="hint-top"]:before {
  border-top-color: #292929;
  bottom: 100%; }
[class*="hint-top"]:after {
  bottom: 100%;
  margin-bottom: 10px; }

[class*="hint-left"]:before, [class*="hint-right"]:before {
  top: 50%;
  margin-top: -5px; }
[class*="hint-left"]:after, [class*="hint-right"]:after {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

[class*="hint-left"]:before {
  border-left-color: #292929;
  left: 0;
  margin-left: -10px; }
[class*="hint-left"]:after {
  right: 100%;
  margin-right: 10px; }

[class*="hint-right"]:before {
  border-right-color: #292929;
  right: 0;
  margin-right: -10px; }
[class*="hint-right"]:after {
  left: 100%;
  margin-left: 10px; }

.hint-persist:before, .hint-persist:after {
  visibility: visible; }

@media only screen and (max-width: 768px) {
  [class*="hint-"][class*="-mobile"]:after, [class*="hint-"][class*="-mobile"]:before {
    display: none; } }

[class*="hint-"][class*="-s-small"]:after {
  width: 200px;
  white-space: initial; }

[class*="hint-"][class*="-s-med"]:after {
  width: 300px;
  white-space: initial; }

[class*="hint-"][class*="-s-big"]:after {
  width: 450px;
  white-space: initial; }

.hint-d-short:hover:after, .hint-d-short:hover:before {
  -webkit-transition: visibility 0s 0.4s ease;
  transition: visibility 0s 0.4s ease; }

.hint-d-med:hover:after, .hint-d-med:hover:before {
  -webkit-transition: visibility 0s 1s ease;
  transition: visibility 0s 1s ease; }

.hint-d-long:hover:after, .hint-d-long:hover:before {
  -webkit-transition: visibility 0s 1.5s ease;
  transition: visibility 0s 1.5s ease; }

[class*="hint-fade"]:before, [class*="hint-fade"]:after {
  -webkit-transition: opacity 0.2s ease, visibility 0.2s ease;
  transition: opacity 0.2s ease, visibility 0.2s ease;
  opacity: 0; }
[class*="hint-fade"]:hover:before, [class*="hint-fade"]:hover:after {
  opacity: 1; }
[class*="hint-fade"][class*="-d-short"]:hover:before, [class*="hint-fade"][class*="-d-short"]:hover:after {
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s; }
[class*="hint-fade"][class*="-d-med"]:hover:before, [class*="hint-fade"][class*="-d-med"]:hover:after {
  -webkit-transition-delay: 1s;
  transition-delay: 1s; }
[class*="hint-fade"][class*="-d-long"]:hover:before, [class*="hint-fade"][class*="-d-long"]:hover:after {
  -webkit-transition-delay: 1.5s;
  transition-delay: 1.5s; }

[class*="hint-anim"][class*="hint-top"]:after, [class*="hint-anim"][class*="hint-top"]:before {
  bottom: 125%;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-out, visibility 0.3s ease-out, bottom 0.3s ease-out;
  transition: opacity 0.3s ease-out, visibility 0.3s ease-out, bottom 0.3s ease-out; }
[class*="hint-anim"][class*="hint-top"]:hover:after, [class*="hint-anim"][class*="hint-top"]:hover:before {
  opacity: 1;
  bottom: 100%; }
[class*="hint-anim"][class*="hint-bottom"]:after, [class*="hint-anim"][class*="hint-bottom"]:before {
  top: 125%;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease, visibility 0.3s ease, top 0.3s ease;
  transition: opacity 0.3s ease, visibility 0.3s ease, top 0.3s ease; }
[class*="hint-anim"][class*="hint-bottom"]:hover:after, [class*="hint-anim"][class*="hint-bottom"]:hover:before {
  top: 100%;
  opacity: 1; }
[class*="hint-anim"][class*="hint-right"]:after, [class*="hint-anim"][class*="hint-right"]:before {
  margin-right: -25px;
  margin-left: 25px;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-out, visibility 0.3s ease, margin 0.3s ease-out;
  transition: opacity 0.3s ease-out, visibility 0.3s ease, margin 0.3s ease-out; }
[class*="hint-anim"][class*="hint-right"]:hover:after, [class*="hint-anim"][class*="hint-right"]:hover:before {
  margin-right: -10px;
  margin-left: 10px;
  opacity: 1; }
[class*="hint-anim"][class*="hint-left"]:after, [class*="hint-anim"][class*="hint-left"]:before {
  margin-right: 25px;
  margin-left: -25px;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-out, visibility 0.3s ease, margin 0.3s ease-out;
  transition: opacity 0.3s ease-out, visibility 0.3s ease, margin 0.3s ease-out; }
[class*="hint-anim"][class*="hint-left"]:hover:after, [class*="hint-anim"][class*="hint-left"]:hover:before {
  margin-right: 10px;
  margin-left: -10px;
  opacity: 1; }
[class*="hint-anim"][class*="-d-short"]:hover:before, [class*="hint-anim"][class*="-d-short"]:hover:after {
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s; }
[class*="hint-anim"][class*="-d-med"]:hover:before, [class*="hint-anim"][class*="-d-med"]:hover:after {
  -webkit-transition-delay: 1s;
  transition-delay: 1s; }
[class*="hint-anim"][class*="-d-long"]:hover:before, [class*="hint-anim"][class*="-d-long"]:hover:after {
  -webkit-transition-delay: 1.5s;
  transition-delay: 1.5s; }

[class*="hint-"][class*="-t-info"][class*="hint-bottom"]:before {
  border-bottom-color: #44C2F9; }
[class*="hint-"][class*="-t-info"][class*="hint-top"]:before {
  border-top-color: #44C2F9; }
[class*="hint-"][class*="-t-info"][class*="hint-right"]:before {
  border-right-color: #44C2F9; }
[class*="hint-"][class*="-t-info"][class*="hint-left"]:before {
  border-left-color: #44C2F9; }
[class*="hint-"][class*="-t-info"]:after {
  background: #44C2F9; }

[class*="hint-"][class*="-t-success"][class*="hint-bottom"]:before {
  border-bottom-color: #83C510; }
[class*="hint-"][class*="-t-success"][class*="hint-top"]:before {
  border-top-color: #83C510; }
[class*="hint-"][class*="-t-success"][class*="hint-right"]:before {
  border-right-color: #83C510; }
[class*="hint-"][class*="-t-success"][class*="hint-left"]:before {
  border-left-color: #83C510; }
[class*="hint-"][class*="-t-success"]:after {
  background: #83C510; }

[class*="hint-"][class*="-t-error"][class*="hint-bottom"]:before {
  border-bottom-color: #FF4C4C; }
[class*="hint-"][class*="-t-error"][class*="hint-top"]:before {
  border-top-color: #FF4C4C; }
[class*="hint-"][class*="-t-error"][class*="hint-right"]:before {
  border-right-color: #FF4C4C; }
[class*="hint-"][class*="-t-error"][class*="hint-left"]:before {
  border-left-color: #FF4C4C; }
[class*="hint-"][class*="-t-error"]:after {
  background: #FF4C4C; }

[class*="hint-"][class*="-t-notice"][class*="hint-bottom"]:before {
  border-bottom-color: #FFAE00; }
[class*="hint-"][class*="-t-notice"][class*="hint-top"]:before {
  border-top-color: #FFAE00; }
[class*="hint-"][class*="-t-notice"][class*="hint-right"]:before {
  border-right-color: #FFAE00; }
[class*="hint-"][class*="-t-notice"][class*="hint-left"]:before {
  border-left-color: #FFAE00; }
[class*="hint-"][class*="-t-notice"]:after {
  background: #FFAE00; }


/*------------------------------------*\
/* COMPOSANT RESEAU SOCIAL              >
/*------------------------------------*/

.reseau-social{                   /* Contener du composant */
    position: relative;           /* Pour le Tooltip */
    display: inline-block;        /* Disposer les un à coté des autres */
    margin: 0.3125em;             /* 5px Marge entre les boutons */
    padding-top: 0.3125em;        /* 5px Espace au dessus pour le tooltip*/
}

  .reseau-social:active{          /* click sur le contener */
      -webkit-transform: scale(0.9);
      -moz-transform: scale(0.9);
      -ms-transform: scale(0.9);
      -o-transform: scale(0.9);
      transform: scale(0.9);
  }  

  /* les classes enfants */
  .reseau-social a{                 /* Element référant pour la taille */
    display: inline-block;
    padding:0.5em;                  /* 8px Padding à l'intérieur du bouton */
    font-family:Helvetica Neue,Helvetica,Arial,sans-serif;     
    font-size: 1.6rem;              /* 16px ELEMENT REFERANT du composant */      
    text-decoration: none;
    color:#fff;

    border-width: 1px;              /* Habillage Facultatif */
    border-style: solid;
    border-radius: 3px;
  }        
  .reseau-social a:hover,           /* box shadow à l'intérieur et à l'extérieur*/
  .reseau-social a:focus{ 
      outline: none;
      box-shadow: inset 0 0 5em rgba(0,0,0,.3), 0 0.2em 0.6em 0 rgba(0,0,0,0.2);
  }  
  .reseau-social svg,
  .reseau-social span{
      vertical-align: middle;    
  }
  .reseau-social svg{
      width: 1.5em;            /* 24px taille donnée par font size de la classe parent : a*/
      height:1.5em;
      /* Couleur de remplissage du SVG (pas d'attribut de présentation dans les SVG */ 
      /* Le SVG hérite de la couleur définie dans son parent. .reseau-social, color:#fff; */
      /* Cette regle pourrait être installée dans le reset CSS pour s'appliquer sur tous les SVG : svg {fill:curentColor;} force les enfants à hériter de la coiuleur de leur parent */
      fill:currentColor;
  }

  /* Sous classes : couleurs spécifiques */
  .reseau-social .facebook{
      border-color: #3b5998;          /* si bordure  */
      background-color: #3b5998;      /* Reprend les couleurs de la marque  */
  }
  .reseau-social .google{
      border-color: #dd4b39;
      background-color: #dd4b39;
  }
  .reseau-social .twitter{
      border-color: #3172EA;
      background-color: #00aced;
  }
  .reseau-social .linkedin{
      border-color: #0574aa;
      background-color: #007bb6;
  }
  .reseau-social .mail{
      border-color:#000;
      background-color: #111;
      fill-rule:evenodd; /* les autres attributs sont embarqués dans le SVG : attribut de présentation */
  }

/* Classe spéciale pour le second bouton email */   
/* on precise un style qui s'appliquera par dessus les attributs de présentation */     
/* https://tympanus.net/codrops/2015/07/16/styling-svg-use-content-css/ */
use.mail{
    fill:yellow;   
    stroke-width:1px;
    stroke:#000;
}
.reseau-social:hover use.mail{
    fill: magenta;      
}
/* On force la cascade, le CSS prend le dessus sur les attributs de présentation*/
svg path {
  all: inherit; /* ou fill:inherit, stroke-width:inherit, stroke:inherit; etc... */
}

/* Moins de 640px */
/* Moins d'espace entre les liens */
/* Logo social plus grand */
/* pas d'affichage de texte */
@media screen and (max-width: 639px) {
    .reseau-social {
        margin: 0.3125em;           /* 5 px */
    }
    .reseau-social a {
        padding: 0.8125em;          /* 13 px */
    }
    .reseau-social svg{
        margin:0 auto;              /* image centrée */
        width: 2.25em;              /* 36px */
        height: 2.25em;
    }
    .reseau-social a span{          /* texte du lien caché */
        display: none;
    }    
}
@media screen and (max-width:320px) {}
@media screen and (min-width:321px) and (max-width:640px) {}
@media screen and (min-width:641px) {}

























